<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(listCollezioni, collezione.css)">
		<style>
			h4{
				color: brown;
			}
		</style>
	</head>
	
	<body>
		
		<nav th:replace="fragments/base.html :: navTab"> </nav>
	
		<header th:replace="fragments/base.html :: titoloAdmin"> </header>
		
		<section>
			<div id="container">
					<h1>Collezioni del museo</h1>
					<table class="collezione", th:each="collezione : ${collezioni}">
					</tr>
				    	<td><h4>Collezione</h4></td>
				    <tr>
					<tr>
						<td>Nome collezione:</td>
				    	<td th:text="${collezione.nome}">nome collezione</td>
					</tr>
					<tr>
						<td>Descrizione collezione:</td>
				    	<td th:text="${collezione.descrizione}">nome collezione</td>
					</tr>
				    	<td><h4>Curatore</h4></td>
				    <tr>
						<td>Nome Cognome:</td>
				    	<td th:text="${collezione.curatore.name} + ' ' + ${collezione.curatore.cognome}">nome collezione</td>
					</tr>
					<tr>
						<td>Data di nascita:</td>
				    	<td th:text="${collezione.curatore.dataNascita}">nome collezione</td>
					</tr>
					<tr>
						<td>Luogo di nascita:</td>
				    	<td th:text="${collezione.curatore.luogoNascita}">nome collezione</td>
					</tr>
					<tr>
						<td>Email:</td>
				    	<td th:text="${collezione.curatore.email}">nome collezione</td>
					</tr>
					<tr>
						<td>Numero telefono:</td>
				    	<td th:text="${collezione.curatore.numeroTelefono}">nome collezione</td>
					</tr>
				</tabel>
				<div><a th:href="@{/default}">indietro</a></div>	
			</div>
		</section>
		
	</body>
</html>