/*IMMAGINI*/

#img-container {
	display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.img {
    padding: 10px;
}

p {
	font-family: roman;
	font-size: 13px;
}

.titolo {
	font: 1.2em "Fira Sans", serif;
	font-size: 30px;
	color: red;
	font-weight: bold;
}

.autore{
	font-weight: bold;
}

.link {
    display: grid;
    /* grid-column-gap: 1em; */
    grid-row-gap: 1em;
    /* grid-auto-flow: column; */
    padding: 2em;
}

.link>div{
	border: 1px outset black;
}

img {
	border: 6px groove black;
}